{#
 # Common variables and macros (for any template).
 #}

{# identifier prefix and its uppercase equivalent #}
{% set prefix = cfg.options.code_generation_options.identifier_prefix %}
{% set ucprefix = prefix | upper %}

{# generation date #}
{% set gen_date = cfg.trace.environment['barectf_gen_date'] %}
