{#
 # Common variables and macros.
 #}

{# identifier prefix and its uppercase equivalent #}
{% set prefix = cfg.options.code_generation_options.identifier_prefix %}
{% set ucprefix = prefix | upper %}
