fail/clock/barectf*.*
fail/clock/metadata
fail/config/barectf*.*
fail/config/metadata
fail/event/barectf*.*
fail/event/metadata
fail/include/barectf*.*
fail/include/metadata
fail/metadata/barectf*.*
fail/metadata/metadata
fail/stream/barectf*.*
fail/stream/metadata
fail/trace/barectf*.*
fail/trace/metadata
fail/type/barectf*.*
fail/type/metadata
fail/type-enum/barectf*.*
fail/type-enum/metadata
fail/type-float/barectf*.*
fail/type-float/metadata
fail/type-int/barectf*.*
fail/type-int/metadata
fail/type-string/barectf*.*
fail/type-string/metadata
fail/type-struct/barectf*.*
fail/type-struct/metadata
fail/yaml/barectf*.*
fail/yaml/metadata
pass/everything/*.c
pass/everything/*.h
pass/everything/metadata
